<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgendaDeRecursos.Properties.Settings.Conexion" connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=educacion"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>